/* src/style.css */

body {
    background-color: #f8f9fa;
    /* Color de fondo claro por defecto */
    color: #212529;
    /* Color de texto oscuro por defecto */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición suave */
}

.dark-mode body {
    background-color: #343a40;
    /* Color de fondo oscuro */
    color: #f8f9fa;
    /* Color de texto claro */
}


/* Otros estilos globales que podrían necesitar ajuste para el modo oscuro */
.dark-mode a {
    /* Enlaces en modo oscuro */
    color: #0d6efd;
}

.dark-mode .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #f8f9fa;
}
