/* src/style.css */

body {
    background-color: #f8f9fa;
    color: #212529;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode body {
    background-color: #343a40;
    color: #f8f9fa;
}

/* Estilos del Navbar para modo oscuro */
.dark-mode .navbar {
    background-color: #343a40 !important;
    /* !important para mayor prioridad */
    color: #f8f9fa;
}

.dark-mode .navbar-brand {
    color: #f8f9fa;
}

.dark-mode .navbar-toggler-icon {
    filter: invert(1);
    /* Invierte el color del icono */
}

.dark-mode .navbar-nav .nav-link {
    /* si tienes enlaces en el navbar */
    color: #f8f9fa;
}

/* Otros estilos globales que podrían necesitar ajuste para el modo oscuro */
.dark-mode a {
    /* Enlaces en modo oscuro */
    color: #0d6efd;
}

.dark-mode .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #f8f9fa;
}
